<!--<form (submit)="onSignIn(signInForm)" #signInForm="ngForm">-->
<!--  <label for="email"><b>Email address</b></label>-->
<!--  <input name="email" ngModel type="email" #emailInput="ngModel" [(ngModel)]="email_address" email placeholder="Enter Username" required>-->

<!--  <label for="password"><b>Password</b></label>-->
<!--  <input [(ngModel)]="password" ngModel type="password" minlength="8" #passwordInput="ngModel" required name="password" placeholder="Enter Password" >-->

<!--  <button type="submit">Login</button>-->
<!--</form>-->

<div class="example-container">
  <div class="form-container">
    <form [formGroup]="loginForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
          <span *ngIf="loginForm.controls.email!.errors!.required!">This field is mandatory.</span>
          <span *ngIf="loginForm.controls.email!.errors!.pattern!">This field is invalid.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Password
        </mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password!.errors!.required!">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
  </div>
</div>
