<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><a href="#" style="color: white;" routerLink="/#">AWS GLORY</a></span>
    <span class="example-spacer"></span>
    <span><button mat-button routerLink="/leaderboards">Leader Boards</button></span>
    <span class="example-spacer"></span>
    <span><button mat-button routerLink="/milestones">Major Milestones</button></span>
    <span class="example-spacer"></span>

<!--  TODO: Implement Account Creation  -->
    <button mat-icon-button routerLink="/coming-soon">
      Join
    </button>
    <span class="example-small-spacer"></span>
    <button mat-icon-button routerLink="/coming-soon">
      <span>Login </span>
      <i class="fas fa-sign-in-alt"></i>
    </button>
    <span class="example-small-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
